<div class="container">
    <form class="container__form">
        <input (change)="addFile($event)" accept="application/JSON" class="container__input-file" type="file" id="myFile" name="filename">
        <div class="container__upload-file">
            <mat-icon class="container__upload-icon" 
                [class.container__error]="jsonError">insert_drive_file</mat-icon>
            <h1 class="container__title" [class.container__error]="jsonError">{{ messageInput }}</h1>
        </div>
    </form>
</div>