.container
    height: 100%
    display: flex
    justify-content: space-between
    flex-direction: column
    &__head
        text-align: center
    &__btn-zone
        display: flex
        justify-content: flex-end
    &__btn
        margin: 0px 10px