.container
    height: 100%
    display: flex
    justify-content: space-between
    flex-direction: column
    &__head
        text-align: center
    &__section
        display: flex
        justify-content: center
        position: relative
    &__section-icon
        position: absolute
        top: 50%
        transform: translateY(-50%)
    &__btn-zone
        display: flex
        justify-content: flex-end
    &__btn
        margin: 0px 10px