.loading
    width: calc(100% - 32px)
    height: calc(100% - 32px)
    background: #28364b
    position: absolute
    z-index: 4
    box-sizing: border-box

.container-table
    width: 100%
    padding: 5px 20px 0px 20px
    box-sizing: border-box
    &__icon-add
        position: absolute
        top: 50%
        transform: translateY(-50%)
    &__name
        min-width: 150px
    &__colum-axies
        min-width: 270px
        position: relative
    &__colum-cryto
        min-width: 100px
        position: relative
    &__load
        width: 50px
        height: 50px
        background: #dedede
        overflow: hidden
    &__img-cryto
        width: 20px
        position: relative
        top: 4px
    &__img
        width: 70px
    &__img-weth
        position: relative
        font-size: 20px
    &__filter
        width: 100%
        margin-bottom: 10px

.paginator
    width: calc(100% - 40px)
    margin: 0px 20px
    box-sizing: border-box

table
    width: 100%